<link rel="stylesheet" href="{{ 'landing-started-gsim.css' | asset_url }}">

<section class="landing-started-gsim">
  <div class="started-content">
    <h2 class="started-title">Get Started with gSim!</h2>
  </div>

  <div class="started-image">
    <img
      src="{{ 'plan-gsim.png' | asset_url }}"
      alt="Plan gSim"
      width="300"
      height="auto"
    >
    <img
      src="{{ 'scan-gsim.png' | asset_url }}"
      alt="Scan gSim"
      width="300"
      height="auto"
    >
    <img
      src="{{ 'connect-gsim.png' | asset_url }}"
      alt="Connect gSim"
      width="300"
      height="auto"
    >
    <img
      src="{{ 'topup-gsim.png' | asset_url }}"
      alt="Top Up gSim"
      width="300"
      height="auto"
    >
  </div>
</section>

{% schema %}
{
  "name": "Get Started gSim",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Get Started gSim"
    }
  ]
}
{% endschema %}
