{%- if predictive_search.performed -%}
  <div id="predictive-search-results" role="listbox">
    <div id="predictive-search-results-groups-wrapper" class="predictive-search__results-groups-wrapper">

      <div class="predictive-search__result-group">
        <div>
          {% assign search_term = predictive_search.terms | downcase | strip %}
          {% assign matched_index = 0 %}

          <ul
            id="predictive-search-results-queries-list"
            class="predictive-search__results-list list-unstyled"
            role="group"
            aria-labelledby="predictive-search-queries">

            {% for product in collections['all-country'].products %}
              {% if matched_index > 0 %}
                {% break %}
              {% endif %}

              {% assign search_keys = product.metafields.search.key.value %}

              {% if search_keys != blank %}
                {% for search_key in search_keys %}
                  {% if matched_index > 0 %}
                    {% break %}
                  {% endif %}

                  {% assign matched = false %}

                  {%- assign country_value = search_key.country | downcase | strip -%}
                  {% if country_value contains search_term %}
                    {% assign matched = true %}
                  {% endif %}

                  {% if matched == false and search_key.alias.value %}
                    {% assign alias_string = search_key.alias.value | strip %}
                    {% assign alias_list = alias_string | split: ',' %}

                    {% for alias in alias_list %}
                      {% assign alias_lower = alias | downcase | strip %}
                      {% if alias_lower contains search_term %}
                        {% assign matched = true %}
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% if matched %}
                    {% assign matched_index = matched_index | plus: 1 %}
                    {% assign country_search = search_key.country.value %}
                    <li
                      id="predictive-search-option-query-{{ matched_index }}"
                      class="predictive-search__list-item"
                      role="option"
                      aria-selected="false">
                      <a
                        href="/search?q={{ country_search | replace: '_', ' ' | url_encode }}"
                        class="predictive-search__item link link--text"
                        tabindex="-1">
                        <div class="predictive-search__item-content predictive-search__item-content--centered">
                          <img
                            class="predictive-search__image"
                            src="{{ country_search | append: '.svg' | file_url }}"
                            alt="{{ country_search }}"
                            width="50"
                            height="50">
                          <span class="predictive-search__item-heading predictive-search__item-query-result">
                            {{ country_search |  replace: '_',' ' }}
                          </span>
                        </div>
                      </a>
                    </li>
                    {% break %}
                  {% endif %}

                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {%- render 'loading-spinner'
      , class: 'predictive-search__loading-state' -%}

    <div id="predictive-search-option-search-keywords" class="predictive-search__search-for-button">
      <button
        class="predictive-search__item predictive-search__item--term link link--text h5 animate-arrow"
        tabindex="-1"
        role="option"
        aria-selected="false">
        <span data-predictive-search-search-for-text>
          {{ 'templates.search.search_for' | t: terms: predictive_search.terms }}
        </span>
        <span class="svg-wrapper">
          {{ 'icon-arrow-back.svg' | inline_asset_content }}
        </span>
      </button>
    </div>
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {% liquid
      assign matched_count = matched_index
      if matched_count == 0
        echo 'templates.search.no_results' | t: terms: predictive_search.terms
      else
        echo 'templates.search.results_products_with_count' | t: count: matched_count
      endif
    %}
  </span>
{%- endif -%}
