<section class="wrapper wrapper-base space-y-6">
    <h1 class="text-primary text-[33px] font-bold">Blog Posts</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[15px]">
        {% for block in section.blocks %}
            {% assign pages = block.settings.page %}

            {% if pages != blank %}
                {% assign first_img = '' %}
                {% assign parts = pages.content | split: 'src="' %}
                {% if parts.size > 1 %}
                    {% assign first_img = parts[1] | split: '"' | first %}
                {% endif %}

                <a href="{{ pages.url }}" class="h-[400px] rounded-[15px] bg-neutral overflow-hidden shadow-md hover:shadow-lg transition-all hover:-translate-y-[5px]">
                    <img
                        class="h-[200px] w-full bg-slate-300"
                        {% if first_img != blank %}src="{{ first_img }}"{% endif %}
                        alt="{{ pages.title | escape }}"
                        loading="lazy"
                        height="auto"
                        width="auto"
                    >
                    <div class="h-[200px] p-[15px] flex flex-col justify-between">
                        <div class="space-y-2">
                            <h2 class="text-primary text-[18px] line-clamp-2 font-semibold leading-tight">
                                {{ pages.title }}
                            </h2>
                            <p class="line-clamp-3 text-primary text-[16px] leading-tight">
                                {{ pages.content | strip_html | truncate: 160 }}
                            </p>
                        </div>
                        <div class="flex justify-between items-center">
                            <span class="text-secondary text-[14px]">
                                {{ pages.published_at | default: pages.created_at | date: "%d %B %Y" }}
                            </span>
                            <button class="bg-primary text-neutral px-5 py-1 rounded-full w-fit text-[14px] hover:bg-primary/30 hover:text-primary font-semibold">Read More</button>
                        </div>
                    </div>
                </a>
            {% endif %}

        {% endfor %}
    </div>
    <a href="{{ pages['news'].url }}" class="rounded-[10px] bg-primary px-[30px] py-2 justify-center items-center w-fit text-neutral font-bold text-[18px] tracking-wide hover:bg-primary/30 hover:text-primary transition mt-10 mx-auto block">
        See More
    </a>
</section>

{% schema %}
{
  "name": "Top Article",
  "settings": [],
  "blocks": [
    {
      "type": "post",
      "name": "Post Card",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Pilih Page"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Article",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
